header
        a(href="index.html")
                img(src="../img/logo.png" alt="logo")
nav.nav-principal
        ul
                +nav(navegadores[0], url[0])
                +nav(navegadores[1], url[1])