//mixin para titulos
@mixin titulos($fuente) {
	@if $fuente ==$Fuente1 {
		font-family: $Fuente1;
	} @else {
		font-family: $Fuente2;
		text-transform: uppercase;
		font-weight: 700;
	}
}

@mixin max-width($max-width: 800px){
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

//breakpoints para el responsive
@mixin respon-to($width){
	@media only screen and (min-width: $width) {
		@content
	}
}