$color-claro: #fff;
$color-oscuro: #212121;
$color-primario: #ffc107;
$color-secundario: #0097a7;
$color-gradient: #dfe9f3;
$color-opaco: #25242475;
$shadow-primory: 0px 5px 14px 0px rgba(25,25,25,0.4);

$size-icon-principal: 35px;
$size-icon-secundario: 20px;

$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;

