$color-claro: #fff;
$color-oscuro: #212121;
$color-primario: #9c27b0;
$color-primario-oscuro: #891190;
$color-secundario: #ffce00;
$color-secundario-oscuro: #ebc016;

$shadow-primory: 0px 5px 14px 0px rgba(25,25,25,0.4);

$size-icon-principal: 35px;
$size-icon-secundario: 20px;

$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$Fuente3: 'Staatliches', cursive, sans-serif;

